<!DOCTYPE html>
<html ng-app="MyApp" ng-cloak>
    <head>
        <title>SGR-CAPULI</title>
        <style>
            .tabsdemoDynamicHeight md-content {
                background-color: transparent !important; }
            .tabsdemoDynamicHeight md-content md-tabs {
                background: #f6f6f6;
                border: 1px solid #e1e1e1; }
            .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
                background: white; }
            .tabsdemoDynamicHeight md-content h1:first-child {
                margin-top: 0; }

            .my-icon-button {
                padding: 7px !important;
                min-width: 0;
                min-height: 0;
                line-height: normal;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="include/angular-material/1.0.9/angular-material.css">

        <script src="include/jquery-3.1.0.min.js"></script>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="include/angularjs/1.5.5/angular.min.js"></script>
        <script src="include/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="include/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="include/angularjs/1.5.5/angular-messages.min.js"></script>

        <script src="include/ui-grid.js"></script>
        <link rel="stylesheet" href="include/ui-grid.css">

        <!-- Angular Material Library -->
        <script src="include/angular-material/1.0.9/angular-material.min.js"></script>

        <!-- Get Material Icons/Font Awesome Icons -->
        <link rel="stylesheet" href="include/material-icons.css">
        <link rel="stylesheet" href="include/font-awesome.css">

        <link rel="stylesheet" href="include/animate.min.css">
        <link rel="stylesheet" href="include/styles.css">
        <link rel="stylesheet" href="include/main.css">
        <script src="include/spin.js"></script>
        <script src="include/moment.js"></script>
        <script src="include/angular-spinner.js"></script>

        <!-- Our Application Angular Library 
        <script src="include/app.js"></script>-->
    </head>

    <body>
    <md-toolbar>
        <div class="md-toolbar-tools">


        </div>
    </md-toolbar>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <img src="images/logo.png" alt="Lark Productions" />
            </h2>

            <span flex=><span class="subtitle" >Bienvenidos Restaurant Capuli</span></span>

            <h2>
                <span></span>
            </h2>
            <h2>
                <img src="images/logo.png" alt="Lark Productions" />
            </h2>

        </div>
    </md-toolbar>

    <md-toolbar>
        <div class="md-toolbar-tools">


        </div>
    </md-toolbar>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom >
                <md-tab label="Cocina">

                    <md-content class="md-padding">
                        <div layout="row">
                            <div></div>

                            <div layout="column" flex="10">
                                <div flex="1"></div>
                                <section  flex="90" layout="column" layout-sm="column" layout-align="center center" layout-wrap>
                                    Pedidos
                                    <md-button class="md-fab md-primary  md-icon my-icon-button " aria-label="Pedidos">

                                        <img src="images/waiter.png" alt="Bookmark">
                                    </md-button>

                                    Menus
                                    <md-button class="md-raised my-icon-button" aria-label="Menu">
                                        <img src="images/menu-50.png" alt="Bookmark">
                                    </md-button>


                                </section>
                                <div flex="1"></div>
                            </div>
                            <div flex="90" layout="row">

                                <md-card flex>
                                    <md-toolbar class="md-whiteframe-1dp">
                                        <div class="md-toolbar-tools">
                                            <div class="md-title">Habilitar Menu</div>
                                        </div>
                                    </md-toolbar>

                                    <md-table-container>
                                </md-card>
                                <md-card flex>
                                    <md-toolbar class="md-whiteframe-1dp">
                                        <div class="md-toolbar-tools">
                                            <div class="md-title">Creacion de Menu</div>
                                            <span flex></span>
                                            <md-button class="md-fab   md-icon my-icon-button  " aria-label="agregar" layout="end end" >
                                                <img src="images/save.png" alt="agregar">
                                            </md-button>
                                        </div>


                                    </md-toolbar>

                                    <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak>
                                        <md-content class="md-padding">
                                            <form ng-submit="$event.preventDefault()" layout="column">
                                                <md-content layout="column">

                                                    <div layout="row" flex>
                                                        <md-card>

                                                            <md-card-title>
                                                                <md-card-title-text>
                                                                    <md-radio-group ng-model="data.tipo" layout="row" >
                                                                        <md-radio-button value="0" class="md-primary">Desayuno</md-radio-button>
                                                                        <md-radio-button value="1" class="md-primary"> Almuerzo </md-radio-button>
                                                                        <md-radio-button value="2" class="md-primary">  Cena</md-radio-button>
                                                                        <md-radio-button value="3" class="md-primary">Extra</md-radio-button>
                                                                    </md-radio-group>
                                                                </md-card-title-text>
                                                            </md-card-title>
                                                        </md-card>


                                                    </div>

                                                    <div flex="1"></div>

                                                    <div layout="row">
                                                        <md-autocomplete
                                                            ng-disabled="ctrl.isDisabled"
                                                            md-no-cache="ctrl.noCache"
                                                            md-selected-item="ctrl.selectedItem"
                                                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                                            md-search-text="ctrl.searchText"
                                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                                                            md-item-text="item.display"
                                                            md-min-length="0"
                                                            md-floating-label="Entrada">
                                                            <md-item-template>
                                                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                                            </md-item-template>
                                                            <md-not-found>
                                                                No se encontro "{{ctrl.searchText}}" 
                                                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                                                            </md-not-found>
                                                        </md-autocomplete>



                                                        <md-autocomplete
                                                            ng-disabled="ctrl.isDisabled"
                                                            md-no-cache="ctrl.noCache"
                                                            md-selected-item="ctrl.selectedItem"
                                                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                                            md-search-text="ctrl.searchText"
                                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                                                            md-item-text="item.display"
                                                            md-min-length="0"
                                                            md-floating-label="Plato principal">
                                                            <md-item-template>
                                                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                                            </md-item-template>
                                                            <md-not-found>
                                                                No se encontro "{{ctrl.searchText}}" 
                                                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                                                            </md-not-found>
                                                        </md-autocomplete>



                                                        <md-autocomplete
                                                            ng-disabled="ctrl.isDisabled"
                                                            md-no-cache="ctrl.noCache"
                                                            md-selected-item="ctrl.selectedItem"
                                                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                                            md-search-text="ctrl.searchText"
                                                            md-selected-item-change="ctrl.selectedItemChange(item)"
                                                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                                                            md-item-text="item.display"
                                                            md-min-length="0"
                                                            md-floating-label="Postre">
                                                            <md-item-template>
                                                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                                            </md-item-template>
                                                            <md-not-found>
                                                                No se encontro "{{ctrl.searchText}}" 
                                                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                                                            </md-not-found>
                                                        </md-autocomplete>
                                                    </div>


                                                    <md-content layout="row" class="md-padding">  
                                                        <md-input-container >
                                                            <label>Nueva entrada</label>
                                                            <input type="text"/>

                                                        </md-input-container>
                                                        <md-input-container >
                                                            <label>Nuevo plato principal</label>
                                                            <input type="text"/>

                                                        </md-input-container>
                                                        <md-input-container >
                                                            <label>Nuevo postre</label>
                                                            <input type="text"/>

                                                        </md-input-container>

                                                    </md-content>


                                                </md-content >   




                                            </form>
                                        </md-content>
                                    </div>

                                </md-card>     

                            </div>
                        </div>
                    </md-content>

                </md-tab>
                <md-tab label="Asafata">
                    <md-content class="md-padding"> </md-content>
                </md-tab>

                <md-tab label="Admin">
                    <md-content class="md-padding"> </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
    </div>

</body>
<script>

    angular.module('MyApp', ['ngMaterial'])
            .controller('DemoCtrl', DemoCtrl);
    function DemoCtrl($timeout, $q, $log) {
        var self = this;
        self.simulateQuery = false;
        self.isDisabled = false;
        // list of `state` value/display objects
        self.states = loadAll();
        self.querySearch = querySearch;
        self.selectedItemChange = selectedItemChange;
        self.searchTextChange = searchTextChange;
        self.newState = newState;
        function newState(state) {
            alert("Sorry! You'll need to create a Constituion for " + state + " first!");
        }
        // ******************************
        // Internal methods
        // ******************************
        /**
         * Search for states... use $timeout to simulate
         * remote dataservice call.
         */
        function querySearch(query) {
            var results = query ? self.states.filter(createFilterFor(query)) : self.states,
                    deferred;
            if (self.simulateQuery) {
                deferred = $q.defer();
                $timeout(function () {
                    deferred.resolve(results);
                }, Math.random() * 1000, false);
                return deferred.promise;
            } else {
                return results;
            }
        }
        function searchTextChange(text) {
            $log.info('Text changed to ' + text);
        }
        function selectedItemChange(item) {
            $log.info('Item changed to ' + JSON.stringify(item));
        }
        /**
         * Build `states` list of key/value pairs
         */
        function loadAll() {
            var allStates = 'Lomito, Aji de gallina, Huancaina, Chaufa, California, Colorado, Connecticut, Delaware,\
              Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana,\
              Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana,\
              Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina,\
              North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Carolina,\
              South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia,\
              Wisconsin, Wyoming';
            return allStates.split(/, +/g).map(function (state) {
                return {
                    value: state.toLowerCase(),
                    display: state
                };
            });
        }
        
        /**
         * Create filter function for a query string
         */
        function createFilterFor(query) {
            var lowercaseQuery = angular.lowercase(query);
            return function filterFn(state) {
                return (state.value.indexOf(lowercaseQuery) === 0);
            };
        }
    }




</script>
</html>
